h1 {
    text-align: center;
}

#image-gallery {
    margin-top: 10%;
    grid-template-columns: auto auto auto;
    display: grid;
}

img {
    width: 400px;
    height: 350px;
}

h3 {
    text-align: center;
}

figure {
    text-align: center;
}

h1, h3, figcaption {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    font-weight: 400;
    color: rgba(185, 63, 8, 1);
}

figcaption {
    font-style: italic;
    font-size: .75em;
}

html {
    background-color: rgba(247, 112, 24, .2);
}

.gallery-item {
    border: 1px solid rgba(185, 63, 8, 1);
    border-radius: 15px;
    padding: 5px;
}
